*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    
}
body::-webkit-scrollbar {
    width: 5px;
  }
   
  body::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #fdc134;
  }

  /* NAV & LANDING PAGE */
  .home{
    background-color: #213B52;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .nav{
    width: 82%;
    height: 70px;
    align-items: center;
    margin-bottom: 10%;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;

  }
  .nav ul{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    color: #D2E0ED;
    font-family: 'Open Sans', sans-serif;
  }
  .nav ul li{
    list-style: none;
  }
  .nav ul span li{
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    padding: 10px;
    color: #213B52;
    color: #fdc134;
  }
  .nav ul span li:hover{
    background-color: #fdc134;
    color: #213B52;
}
.nav ul li  a{
    text-decoration: none;
    color: #D2E0ED;
 }
 .nav h1{
    width: 35%;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}
.nav h1 .harvoxx{
    color: #FFFFFF;
}
.nav h1 .techHub{
    color: #fdc134;
}
.landingPage{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.llp{
    width: 45%;
}
.llp h1{
    color: #D2E0ED;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.llp input{
        color: #213B52;
        background-color: #fdc134;
        border-style: outset;
        border-width: 3px;
        border-color: #fdc134;
        border-radius: 30px;
        text-align: center;
        font-size: 18px;
        padding: 8px;  
}
.llp input:hover{
    background-color: #213B52;
    color: #FFFFFF;
}
.llp p{
    color: #FFFFFF;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 100;
}

.rlp{
    width: 45%;
}
.rlp img{
    width: 100%;
}

/* ABOUT */

.aboutSection {
    width: 100%;
    display: flex;
    margin-top: 7%;
    justify-content: space-around;
}

.aboutSection .aboutHarvoxx i {
    color: #fdc134;
    margin-right: 15px;
    font-size: 35px;
}

.image {
    width: 40%;
    max-width: 100%; 
    height: auto; 
}

.image img{
    width: 100%;
    height: 75vh;
    margin-bottom: 10px;
    object-fit: cover;
}

.aboutHarvoxx {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.aboutHarvoxx h3{
    font-family: 'Poppins', sans-serif;
    color: #213B52;
    font: 20px;
    margin-bottom: 5%;
}
.aboutHarvoxx p{
    font-family: 'Open Sans', sans-serif;
    color: #848484;
    font: 15px;
    margin-bottom: 8%;
}
.aboutHarvoxx p span{
    color: #444444;
    font-size: 16;
}
.about{
    width: 100%;
    justify-content: space-around;
    margin-bottom: 4%;
}
.about h1{
    color: #213B52;
    margin: 8px;
    font-size: 34px;
    font-family: 'Poppins', sans-serif; 
    }
.diversity{
    width: 45%;
    justify-content: space-around;
}
.impact{
    width: 45%;
    justify-content: space-around;
}
.commitment{
    width: 45%;
    justify-content: space-around;
}
.aboutSection .integrity {
    width: 40%;
    justify-content: space-around;
}
